@{
    ViewBag.Title = "About";
}


<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">About</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/img/dog-holding-banner-1.jpg" class="img-responsive" />
    </div>
</div>
<!-- /.row -->
<!-- Service Paragraphs -->
<div class="col-md-8">
    <h2 class="page-header">About us</h2>
    <p>Our state-of-the-art facilities feature 24,000 square-feet of indoor space and six acres to run and play. Staffed by caring pet care professionals, Petopia offers exceptional boarding accommodations combined with a full range of canine and feline activities tailored to fit the unique needs and interests of each guest.
        Our friendly and knowledgeable staff provides full-service amenities including day camp, swimming in our indoor pool, bathing and grooming services, massage therapy, and all levels of training – sending pets home relaxed and happy after time well spent.
        We host free social events designed to be as much fun for you as much as they are for your pet. Please don’t miss our events page to save the date and join us.
        Personal tours during our business hours are encouraged to see the facility and see what all the cats and dogs are raving about!</p>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/img/facilities.jpg" class="img-responsive" />
    </div>
</div>

<hr/>

<div>
    <div class="container">
        <h3>Our Facilities</h3>
        <div class="text-center">
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="~/Content/img/daycare/catdaycare3.jpg" alt="Susan" height="300px" width="350px">
                <h4>Susan</h4>
                <p>Cats love to climb, and this areas was built with that in mind. Here cats can find the perfect stoop to stretch and relax.</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <img src="~/Content/img/daycare/daycare3.jpg" alt="Heather" height="300px" width="350px">
                <h4>Dog Play Area</h4>
                <p>Dogs are free to climb and play in the wading pool in a safe sanitary area</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="~/Content/img/daycare/catdaycare2.png" alt="Danessa" height="300px" width="350px">
                <h4>Cat Sleeping Area</h4>
                <p>A wonderful place for cats to relax and find some much needed sleep</p>
            </div>
        </div>
    </div>
</div>

<hr/>

<div>
    <div class="container">
        <h3>Our Team</h3>	
        <div class="text-center">
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="~/Content/img/employees/rebekah.jpg" alt="Susan" height="300px" width="350px">
                <h4>Susan</h4>
                <p>Susan has been in the animal industry for over 20 years and brings a diverse background to Petopia. She has been fortunate to work in all different fields of animal care. From vet clinics and boarding facilities all the way to zoos and aquariums, she even owned her own successful pet sitting business for 11 years! Wanting to move to a warmer climate, she fell in love with Kansas City and moved down here from Connecticut. She has 2 dogs, Zeus’s Kausin’ Khaos a.k.a. “Khaos,” and Boot Scootin’ Boogey a.k.a. “Bootsie,” and three kitties, Simba, Nala, and Nubblestillskin a.k.a. “Nubins.”</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <img src="~/Content/img/employees/heather.jpg" alt="Heather" height="300px" width="350px">
                <h4>Sara</h4>
                <p>Sara was born in Kansas City, but raised in West Virginia and Indiana. Sara’s family always had lots of pets and animals at home and that is where she developed her love for animals. She had always hoped to work with animals in some way, and found that professional grooming allowed her to be around animals and develop relationships with them and their owners. Sara loves what she does and believes grooming is an essential part of a pet’s well being. She loves the satisfaction of seeing pampered pooches flaunt their new ‘do for their parents!</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="~/Content/img/employees/linda.jpg" alt="Danessa" height="300px" width="350px">
                <h4>Danessa</h4>
                <p>Denessa was born in sunny California but moved to Missouri at a young age. Her appreciation for animals stemmed from growing up with chickens and sheep. Denessa originally had plans to become a veterinarian, but she caught the grooming bug! She loves her job and looks forward to grooming the fur babies at The Belmont. Denessa spends her time outside grooming with her sweet daughter, Serenity.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">FAQ</h2>
    </div>
    <div class="col-lg-12">
        <div id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                            Do you have a minimum age requirement?
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne" style="height: 0;">
                    <div class="panel-body">
                        Yes. We require that puppies be at least 16 weeks old before coming to the facility. They must have had their rabies and be on their third round of puppy boosters. Cats must be 6 months old and also have their 3 month shots. Other animals may have specific requirments not listed.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                            What should I bring with my pet when boarding?
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo" style="height: 0;">
                    <div class="panel-body">
                        We provide the bedding, bowls and entertainment. The only thing the owner is responsible for bringing is the food. We ask that the food be put in individual bags portioned for each meal so there is no confusion with the amount given. Toys and personal belongings are allowed. We are not responsible for any items that are lost or damaged throughout the stay.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                            Since daycare is closed on weekends, does my dog still get playtime? 
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThree">
                    <div class="panel-body">
                        Yes. On the weekends we are closed for daycare Drop Offs and Pick Ups, but the boarding dogs still get playtime.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                            Do you offer boarding for other pets besides dogs and cats?
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseFour">
                    <div class="panel-body">
                        Yes! Species will vary by facility. Call us to inquire about your pet.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                            Why does my pet need to be picked up by 6:00pm if you close at 7:00pm?
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseFive">
                    <div class="panel-body">
                        Even though we close at 7:00pm, our daycare section of the resort closes at 6:00pm. From 6:00pm - 7:00pm the staff is strictly here to clean the facility and to take care of the pets who are boarding that night. We take them outside to play, feed them dinner, and straighten up their suites for the night time.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                            Do you have any breed restrictions? 
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseSix">
                    <div class="panel-body">
                        No. We believe that each dog is an individual and should be given a fair chance by going through a temperament test. With that being said, we are aware that some dogs may have a style of play that is not always suitable for the daycare environment. Many daycares ban all bully breeds, regardless of individual temperament. We do not feel a ban is necessary but we do take precautions. To be accepted into daycare, bully breeds must show good self-control, not be rude or space invasive to people, and have good knowledge of the following commands; sit, leave it, and come in addition to the regular requirements. Bully breeds tend to become quickly over-stimulated and escalate situations. For this reason, they will be allowed to play for short periods of time followed by rest periods that allow their arousal level to decrease.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseSeven" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                            Do you offer Daycare on weekends? 
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseSeven">
                    <div class="panel-body">
                        We do not. We are open on weekends only for boarding check ins and check outs. The dogs that are boarding get group playtime for the weekends, but the Daycare is closed.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseEight" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                            Will my pet get sick by being around so many other dogs? 
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseEight">
                    <div class="panel-body">
                        We try to stay on top of any possible illness and take necessary precautions. However, just like with kids at school or daycare, viruses may be passed between pets. If your pet comes down with anything contagious, he/she must stay home until your vet says it’s okay to return.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
