@model ThePetResort.UI.Models.ContactViewModel
@{
    ViewBag.Title = "ContactConfirmation";
}

<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center alert alert-success">
                    Thank you for contacting us, @Model.Name! We will get back to you within 24 hours
                </div>
            </div>
        </div>
    </div>
</div><!--/#contact-page-->
