@{
    ViewBag.Title = "Home";
}



<div class="container">
    <br>
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url('../../Content/img/slider/slider.jpg');">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2 class="animation animated-item-1" style="color:black"><span>PET</span>OPIA</h2>
                                    <p class="animation animated-item-2" style="color: black">When you want the best possible care and attention for your pet</p>
                                    <a class="btn-slide animation animated-item-3" href="@Url.Action("Services", "Other")">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="~/Content/img/slider/Kitten.png" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        
        <h2>More than a boarding room</h2>
        <p>There are times when boarding and daycare is just not enough. Petopia would not be complete without a relaxing spa for our very important four legged guests.Our guests can enjoy a relaxing massage, a luxurious brush and blowout, or even a full haircut with our fantastic furstylist - Sara Cox and Denessa Coats. The Six Senses offers everything from full grooming to a quick bath.

            Both our groomers specialize in the finest personalized hair cuts, styling, and blowouts that Nashville has to offer. Your pooch will enjoy the ultimate in five star luxury as they embark on their special Spa day experience! If you would like to make a grooming appointment, please call our concierge.</p>
        <img src="~/Content/img/Luxurybanner.jpg" class="img-responsive" />
    </div>
</div>

    

<!-- Service Images -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Services</h2>
    </div>
    <div class="col-sm-4">
        <img src="~/Content/img/running_dogs.jpg" class="img-responsive">
        <h3>Boarding</h3>
        <p>Boarding your pet at Petopia keeps them safe, happy, and comfortable. We offer short and long term packages, while guests at our Blue Springs Resort enjoy plenty of fresh air and room to play on our 6-acre site in the Grain Valley Corporate Center.</p>
    </div>
    <div class="col-sm-4">
        <img src="~/Content/img/pig.jpg" class="img-responsive">
        <h3>Daycare</h3>
        <p>Our day camp program at Petopia is the perfect, worry-free alternative to leaving your pet at home. Rain or shine, your pet will enjoy a day of fun, attention and companionship in a healthy, caring atmosphere.</p>
        <p>A typical day at Petopia includes 2 to 4 hours of morning and afternoon play, punctuated by a 2-hour nap and refreshment period at mid-day. </p>
    </div>
    <div class="col-sm-4">
        <img src="~/Content/img/animal_spa.jpg" class="img-responsive">
        <h3>Grooming & Spa</h3>
        <p>Treat your pet to a wonderful day at our amazing spa! Petopia's full-service salon offers everything your pet needs to go home feeling fresh, pampered, and looking great. We want all of our pets to look and feel their best.</p>
    </div>
</div>
<!-- /.row -->


<!-- jQuery -->
<script src="~/Content/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/Content/js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
